<div>
  <svg
    class="bg-card"
    xmlns="http://www.w3.org/2000/svg"
    width="555"
    height="275"
    viewBox="0 0 555 275"
    fill="none"
  >
    <g filter="url(#filter0_b_5_48)">
      <path
        d="M0.908569 95.8391C0.908569 50.669 0.908569 28.0839 14.9411 14.0514C28.9737 0.0187988 51.5588 0.0187988 96.7289 0.0187988H459.18C504.35 0.0187988 526.935 0.0187988 540.967 14.0514C555 28.0839 555 50.669 555 95.8391V179.161C555 224.331 555 246.916 540.967 260.949C526.935 274.981 504.35 274.981 459.18 274.981H390.187C375.58 274.981 368.276 274.981 361.426 272.887C360.507 272.606 359.596 272.297 358.695 271.961C351.984 269.457 346.186 265.015 334.591 256.131V256.131C309.2 236.675 296.505 226.948 281.879 226.066C279.959 225.95 278.033 225.95 276.113 226.066C261.487 226.948 248.791 236.675 223.4 256.131V256.131C211.805 265.015 206.008 269.457 199.297 271.961C198.396 272.297 197.485 272.606 196.565 272.887C189.716 274.981 182.412 274.981 167.805 274.981H96.729C51.5588 274.981 28.9737 274.981 14.9411 260.949C0.908569 246.916 0.908569 224.331 0.908569 179.161V95.8391Z"
        fill="#585858"
        fill-opacity="0.2"></path>
      <path
        d="M96.7289 1.06032H459.18C481.794 1.06032 498.65 1.06254 511.611 2.80511C524.543 4.54365 533.44 7.99732 540.231 14.7878C547.022 21.5783 550.475 30.4763 552.214 43.4074C553.956 56.3685 553.959 73.2246 553.959 95.8391V179.161C553.959 201.776 553.956 218.632 552.214 231.593C550.475 244.524 547.022 253.422 540.231 260.212C533.44 267.003 524.543 270.457 511.611 272.195C498.65 273.938 481.794 273.94 459.18 273.94H390.187C375.518 273.94 368.397 273.929 361.731 271.891C360.831 271.616 359.94 271.313 359.059 270.985C352.527 268.549 346.869 264.226 335.225 255.304L335.173 255.264C322.521 245.57 312.963 238.246 304.74 233.243C296.484 228.221 289.487 225.481 281.942 225.026C279.98 224.908 278.012 224.908 276.05 225.026C268.505 225.481 261.507 228.221 253.252 233.243C245.028 238.246 235.47 245.57 222.819 255.264L222.767 255.304C211.123 264.226 205.464 268.549 198.933 270.985C198.051 271.313 197.16 271.616 196.261 271.891C189.595 273.929 182.474 273.94 167.805 273.94H96.729C74.1144 273.94 57.2583 273.938 44.2972 272.195C31.3661 270.457 22.4681 267.003 15.6776 260.212C8.88709 253.422 5.43342 244.524 3.69488 231.593C1.95231 218.632 1.95009 201.776 1.95009 179.161V95.8391C1.95009 73.2246 1.95231 56.3685 3.69488 43.4074C5.43342 30.4763 8.88709 21.5783 15.6776 14.7878C22.4681 7.99732 31.3661 4.54365 44.2972 2.80511C57.2583 1.06254 74.1144 1.06032 96.7289 1.06032Z"
        stroke="#FFFBFB"
        stroke-opacity="0.2"
        stroke-width="2.08305"></path>
    </g>
    <defs>
      <filter
        id="filter0_b_5_48"
        x="-30.3372"
        y="-31.227"
        width="616.583"
        height="337.454"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="15.6229"
        ></feGaussianBlur>
        <feComposite
          in2="SourceAlpha"
          operator="in"
          result="effect1_backgroundBlur_5_48"></feComposite>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_backgroundBlur_5_48"
          result="shape"></feBlend>
      </filter>
    </defs>
  </svg>

  <svg
    style="position: absolute;
    bottom: 18px;
    right: 12px;"
    xmlns="http://www.w3.org/2000/svg"
    width="259"
    height="247"
    viewBox="0 0 259 247"
    fill="none"
  >
    <path
      d="M0.119965 79.7558C0.119965 42.4414 0.119965 23.7842 11.7121 12.1921C23.3042 0.599976 41.9614 0.599976 79.2759 0.599976H179.262C216.577 0.599976 235.234 0.599976 246.826 12.1921C258.418 23.7842 258.418 42.4414 258.418 79.7559V167.244C258.418 204.558 258.418 223.216 246.826 234.808C235.234 246.4 216.577 246.4 179.262 246.4H114.327C101.088 246.4 94.468 246.4 88.3098 244.321C82.1516 242.243 76.8861 238.231 66.3551 230.207L31.304 203.502C15.9967 191.839 8.3431 186.008 4.23153 177.706C0.119965 169.404 0.119965 159.782 0.119965 140.538V79.7558Z"
      fill="white"></path>
  </svg>

  <svg
    style="position: absolute;
    bottom: 18px;
    left: 16px;"
    xmlns="http://www.w3.org/2000/svg"
    width="245"
    height="118"
    viewBox="0 0 245 118"
    fill="none"
  >
    <path
      d="M0.489563 59.0749C0.489563 41.6111 0.489563 32.8793 3.19705 25.9406C7.21921 15.6327 15.3727 7.47916 25.6806 3.457C32.6193 0.749512 41.3512 0.749512 58.815 0.749512H203.687C204.561 0.749512 204.998 0.749512 205.368 0.756412C226.647 1.15383 243.802 18.3089 244.2 39.5884C244.206 39.9579 244.206 40.3948 244.206 41.2685V41.2685C244.206 41.6741 244.206 41.8769 244.205 42.0717C244.098 52.8839 239.573 63.1819 231.68 70.5723C231.537 70.7055 231.388 70.8426 231.089 71.1169L203.38 96.5549C192.16 106.855 186.55 112.005 179.623 114.703C172.696 117.4 165.08 117.4 149.849 117.4H58.8149C41.3512 117.4 32.6193 117.4 25.6806 114.693C15.3727 110.671 7.21921 102.517 3.19705 92.2093C0.489563 85.2706 0.489563 76.5387 0.489563 59.0749V59.0749Z"
      fill="white"></path>
  </svg>
  <div class="content">
    <h1>240</h1>
  </div>
</div>

<style lang="scss">
  div {
    position: relative;
    width: 100%;
    height: 100%;
    // filter: drop-shadow(0px 15px 34px rgba(0, 0, 0, 0.1))
    //   drop-shadow(0px 61px 61px rgba(0, 0, 0, 0.09))
    //   drop-shadow(0px 137px 82px rgba(0, 0, 0, 0.05))
    //   drop-shadow(0px 244px 98px rgba(0, 0, 0, 0.01))
    //   drop-shadow(0px 381px 107px rgba(0, 0, 0, 0));
  }

  .bg-card {
    fill: rgba(88, 88, 88, 0.2);
    stroke-width: 2.083px;
    stroke: rgba(255, 251, 251, 0.2);
  }

  h1 {
    color: black;
  }

  .content {
    position: relative;

    width: 100%;
    height: 100%;
    background-color: red;
    h1 {
      position: absolute;
      top: -120px;
      left: 30px;
    }
  }
</style>
