---
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<SiteLayout title="Press Space">
  <div class="container">
    <h1>MIRROR</h1>
    <div class="mirror-holder">
      <div class="mirror-border"></div>
      <img src="/images/reyna.webp" class="mirror-image" alt="mirror" />
    </div>
  </div>
</SiteLayout>

<style lang="scss">
  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/ProximaNova.otf") format("otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0d0d0d;
    min-height: 100vh;
  }

  h1 {
    color: #b5ab9a;
    font-family: Proxima Nova;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Proxima Nova", monospace;
  }

  .mirror-holder {
    height: 600px;
    width: 300px;
    background: #ffffff14;
    border: 4px solid #ffffff14;
    transform: translateZ(1px);
  }

  .mirror-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(40px);
  }
</style>

<script>
  const mirror: HTMLElement | null = document.querySelector(".mirror-holder");

  document.addEventListener("mousemove", (e) => {
    const x = e.clientX;
    const y = e.clientY;

    //take center as 0,0
    const centerX = window.innerWidth / 2;
    const centerY = window.innerHeight / 2;

    // tilt the mirror/look at with smoothing
    const tiltX = (centerX - x) / 100;
    const tiltY = (centerY - y) / 100;

    if (mirror) {
      mirror.style.transform = `rotateX(${tiltY}deg) rotateY(${tiltX}deg)`;
    }
  });
</script>
